body{
    background-color: #06141b;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    
    margin: 0px;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, #4A5C6A, #9BA8AB);
}
li{
    
    color: white;
    padding: 10px 10px;
    display: inline-block;
}
li:hover{
    background-image:linear-gradient(to top, #9BA8AB, #4A5C6A);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow:  0px 0px 3px rgba(255, 255, 255, 0.5);
    padding: 14px 13px;
    color: #11222e;
}

