    body{
    margin: 0;
    height: 200vh;
}

div{
    padding: 20px;
}

div:hover{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(252, 164, 236, 0.379);
    backdrop-filter: blur(10px);
}

main{
    background-color: rgb(99, 99, 99);
    width: 80%;
    margin: 50px auto;
}

.relative{
    position: relative;
    background-color: rgb(147, 209, 84);
    
    bottom: 20px;
    left: 20px;
}

.absolute{
    position: absolute;
    color: white;
    background-color: blue;
    top: 20px;
    right: 20px;
}

.fixed{
    position: fixed;
    color: white;
    background-color: blueviolet;
    bottom: 20px;
    right: 20px;
}

.static{
    position: static;
    background-color: brown;
    top: 20px;
    left: 20px;
}